.App {
  text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;600&display=swap');
body{
  background: linear-gradient(#831588,#323770);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow: hidden;
}
form{
  color:darkgoldenrod;
  border:30px solid white;
  padding: 30px;
  border-radius: 10px;
  padding: 10px;
  border-radius: 10px;
}

form input{
  
 display: block;
 margin: 0 auto 10px auto;
 border-radius: 20px;
 border: 3px rgb(142, 120, 104);
 padding: 10px;
color: bold;
width:90%;
}
.input-font{
background-color: darkseagreen;
font-weight: bold;
color:cornflowerblue;

}